<%= turbo_frame_tag "#{dom_id(chat_room)}_conversation_form" do %>
  <%= form_with(model: Conversation.new, url: [chat_room, chat_room.conversations.new]) do |form| %>
    <div class="my-5 flex">
      <%= form.text_field :message, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 mr-2 py-2 w-full", autofocus: true, "x-on:keydown.cmd.enter" => "$event.target.form.requestSubmit();" %>
      <%= form.button type: :submit, class: "rounded-lg py-3 px-5 bg-red-500 text-white inline-block font-medium cursor-pointer" do %>
        <i class="fas fa-paper-plane"></i>
        <span class="pl-2">Enter</span>
      <% end %>
    </div>
  <% end %>
<% end %>